:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(224, 93%, 58%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --emerald-dark: hsl(170, 55%, 29%);
  --emerald-light: hsl(171, 48%, 83%);
}

@font-face {
  font-family: "Raleway";
  src: url(./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\wght.ttf);
}

h1,
h2 {
  font-family: "Raleway";
  font-weight: 700;
}
body {
  font-family: 'Open Sans';
  font-weight: 400;
}
.productive{
  background-color: #f8f8fe;
}